*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.chat .active{
    display: none;
}

.header-join-user{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}

.img-container-join img{
    width: 80px;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 30px;
}
ul a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    
}

.main-join-section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}
.img-chat-persons{
    width: 40%;
    overflow: none;
}
.img-chat-persons img{
    width: 100%;
    overflow: none;
}

.title-join{

    font-size: 2.5rem;
}
.form-chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.form-chat label{
    font-size: 1.2rem;
}
.form-chat input{
    padding: 10px 90px;
    color: black;
    font-weight: bold;
    outline: none;
    border-radius: 1px solid black;
    border-radius: 10px;
}

.form-chat button{
    padding: 10px 70px;
    color: white;
    background-color: black;
    cursor: pointer;
    outline: none;
    border-radius: 1px solid black;
    border-radius: 10px;
}


.form-chat button:hover{

    color: black;
    background-color: white;
    transition: .2s linear;
} 

.container--section{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 7px;
    
}
.container--chat{
    position: relative;
    width: 100%;
    height: 100%;
    
}
.header-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 5px;
}
.header-section .img-container img{
    width: 60px;
   
}

.exit{

    color: white;
    margin-right: 30px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 4px;
}

.exit:hover{
    cursor:pointer;
    color: black;
    background-color: white;
    transition: .3s;
}

.chat-form{
    display: flex;
    width: 100%;
    padding: 10px 20px;
    background-color: #222;
    justify-content: center;
    align-items: center;
    
}
.chat-form input{
    width: 80%;
    padding: 6px 40px;
    outline: none;
    border: 1px solid black;
    border-radius: 6px;
    font-weight: bold;
}

.chat-form button{
    padding: 6px 40px;
    border-radius: 6px;
    border: 1px solid black;
    outline: none;
    background-color: white;
    color: black;
}
.chat-form button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: .3s;
}
.output{
    bottom: 0;
    position: relative;
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 10px;
}

.my{
    width: 100%;
    padding-right:20px ;
    display: flex;
    justify-content: flex-end;
    
}
.container-info-my{
    margin-right: 0;
    border-radius: 9px;
    border: 1px solid black;
    background-color: #111;
    color: white;
    padding: 10px 30px;
}
.other{
    width: 100%;
    padding-left:20px ;
    display: flex;
    justify-content: flex-start;
}
.container-info-other{
    margin-right: 0;
    border-radius: 9px;
    border: 1px solid black;
    background-color: rgb(177, 246, 255);
    padding: 10px 30px;
}
.container-info-other .name{
    color: black;
}
.name{
    font-weight: bold;
    color: yellow;
    margin-bottom: 5px;
}
.text{
    font-size: 1.1rem;
}
.my .name span{

    color: #888;
    font-size: .8rem;
}


.update, .updateExit{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    
}


.typing{
    
    color: black;
    background-color: violet;
}

/* 
.output{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem;
    height: 150px;
    overflow-y: scroll;
    padding: 20px;

}


form{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px;
}

form input{
    width: 35%;
    padding: 5px;
    outline: none;
    border: 1px solid black;
    background-color: none;
    border-radius: 10px;
    font-size: 1.1rem;
}

form button{
    width: 40%;
    padding: 6px;
    background-color: rgb(135, 197, 222);
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
} */